@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

body {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: whitesmoke;
    margin-top: 65px;
    padding: 0px;
    font-family: 'Heebo', sans-serif;
}
